<form class="px-2 space-y-4 w-320px">
  <div class="flex flex-col gap-y-2">
    <label class="kit-label">Email</label>
    <input type="text" name="login" placeholder="Введите логин" class="kit-input">
  
    <label class="kit-label">Пароль</label>
    <input type="password" name="password" placeholder="Введите пароль" class="kit-input">
  
    <label class="kit-label">Повторите пароль</label>
    <input type="password" name="repeadPassword" placeholder="Введите повторите" class="kit-input">
  </div>

  <div class="mt-8 w-full">
    <div class="flex flex-col gap-y-2 mt-4">
      <button class="w-full kit-button" type="submit">Зарегестрироваться</button>
      <a href="/login" class="h-32px inline-flex items-center justify-center secondary kit-button" type="submit">Войти</a>
    </div>
  </div>
</form>