<form class="px-2 space-y-4 w-320px" hx-post="/signup">
  <div class="flex flex-col gap-y-2">
    <label for="name" class="kit-label">Имя</label>
    <input
      id="name"
      type="text"
      name="name"
      placeholder="Введите ваше имя"
      class="kit-input"
      required
    >

    <label for="email" class="kit-label">Email</label>
    <input id="email" type="text" name="email" placeholder="Введите логин" class="kit-input" required>
  
    <label for="password" class="kit-label">Пароль</label>
    <input id="password" type="password" name="password" placeholder="Введите пароль" class="kit-input" required>
  
    <label for="repeadPassword" class="kit-label">Повторите пароль</label>
    <input id="repeadPassword" type="password" name="repeadPassword" placeholder="Введите повторите" class="kit-input" required>
  </div>

  <div class="mt-8 w-full">
    <div class="flex flex-col gap-y-2 mt-4">
      <button class="w-full kit-button" type="submit">Зарегестрироваться</button>
      <a href="/login" class="h-32px inline-flex items-center justify-center secondary kit-button" type="submit">Войти</a>
    </div>
  </div>
</form>