.kit-button {
  border: none;
  outline: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 6px 12px;
  height: 32px;
  box-shadow: 0 1px 0 0 #1f23284f;
  background: #f6f8fa;
  cursor: pointer;
  font-size: 14px;
  color: #1f2328;
}
a.kit-button {
  text-decoration: none;
  text-align: center;
}

.kit-button:disabled {
  opacity: 80;
  cursor: not-allowed;
}

.kit-button.secondary {
  color: #fff;
  background-color: #0969da;
}

.kit-button.secondary:hover {
  background-color: #0969da;
  border-color: #0969da;
}

.kit-button:hover {
  box-shadow: 0 1px 1.5px 0 #1f23284f, 0 1px 0 0 #1f23284f;
  background: #f6f8fa;
}

.kit-button:active, .kit-button:focus {
  outline: 2px solid #0969da;
}