.kit-checkbox {
  appearance: none;
  border: 1px solid #d0d7de;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

.kit-checkbox:focus {
  outline: 1px solid #0969DA;
  outline-offset: 2px;
}

.kit-checkbox:checked {
  background-color: #0969da;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.78 0.219996C11.9204 0.360616 11.9993 0.551246 11.9993 0.749996C11.9993 0.948746 11.9204 1.13937 11.78 1.28L4.53 8.53C4.38937 8.6704 4.19875 8.7493 4 8.7493C3.80125 8.7493 3.61062 8.6704 3.47 8.53L0.22 5.28C0.0875197 5.13782 0.0153998 4.94978 0.0188198 4.75547C0.0222498 4.56117 0.10096 4.37579 0.23838 4.23837C0.37579 4.10096 0.56118 4.02225 0.75548 4.01882C0.94978 4.01539 1.13782 4.08752 1.28 4.22L4 6.94L10.72 0.219996C10.8606 0.079546 11.0512 0.000656128 11.25 0.000656128C11.4487 0.000656128 11.6394 0.079546 11.78 0.219996Z' fill='white' /%3E%3C/svg%3E");
}